<form [formGroup]="form">
  <div class="container">
    <div class="input-container">
      <select formControlName="sourceLanguageInput">
        <option selected value="">Selecciona un idioma</option>
        @for (language of languages; track $index) {
        <option [value]="language.abbreviation">{{ language.name }}</option>
        }
      </select>
      <textarea
        formControlName="userInput"
        placeholder="Escribe el texto a traducir aquí"
      ></textarea>
    </div>
    <div class="input-container response">
      @if (loading) {
      <span class="loader"></span>
      }
      <select formControlName="targetLanguageInput">
        <option selected value="">Selecciona un idioma</option>
        @for (language of languages; track $index) {
        <option [value]="language.abbreviation">
          {{ language.name }}
        </option>
        }
      </select>
      <textarea disabled>{{ response }}</textarea>
      <button (click)="copyClipboard()">
        <i class="fa-regular fa-clipboard"></i>
      </button>
    </div>
  </div>
</form>
