.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px
}

select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

/* Estilo al pasar el mouse sobre el select */
select:hover {
    border-color: #555;
}

/* Estilo cuando está enfocado */
select:focus {
    outline: none;
    border-color: #3498db;
}

textarea {
    width: 500px;
    height: 250px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 6px;
    transition: border-color 0.3s;
    resize: none;
}

.response {
    position: relative;
}

.clipboard {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    font-size: 1.4rem;
}

.loader {
    position: absolute;
    bottom: 35%;
    right: 45%;
    width: 38px;
    height: 38px;
    border: 5px solid #FFF;
    border-bottom-color: #3498db;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.change {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 270px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button:hover {
    cursor: pointer;
    background-color: rgb(232, 232, 232);

}