<form [formGroup]="form">
  <div class="container">
    <div class="input-container">
      <select formControlName="sourceLanguageInput">
        <option selected value="">Selecciona un idioma</option>
        <option value="español">Español</option>
        <option value="arabe">Árabe</option>
        <option value="italiano">Italiano</option>
      </select>
      <textarea
        formControlName="userInput"
        placeholder="Escribe el texto a traducir aquí"
      ></textarea>
    </div>
    <div class="input-container response">
      @if (loading) {
      <span class="loader"></span>
      }
      <select formControlName="targetLanguageInput">
        <option selected value="">Selecciona un idioma</option>
        <option value="español">Español</option>
        <option value="arabe">Árabe</option>
        <option value="italiano">Italiano</option>
      </select>
      <textarea disabled>{{ response }}</textarea>
      <button (click)="copyClipboard()">
        <i class="fa-regular fa-clipboard"></i>
      </button>
    </div>
  </div>
</form>
